# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Libraries commonly used for Data Science
- Examples of code in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

#### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. TensorFlow
3. Matplotlib

| Data Science Tools |
| -------------|
| JupyterLab |
| Rstudio |
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Vin√≠cius Cordeiro